header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
  height: 20px;
 }

 .no-button {
   color: white;
 }

 nav .brand-logo{
   font-size:50px;
 }

nav{
 height:75px;
 }

 h3, h4, h5 {
   color: white;
 }

